<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>OnlineStore</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CreateProductServlet</display-name>
		<servlet-name>CreateProductServlet</servlet-name>
		<servlet-class>com.abc.controller.CreateProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>com.abc.controller.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminProductServlet</display-name>
		<servlet-name>AdminProductServlet</servlet-name>
		<servlet-class>com.abc.controller.AdminProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewProductServlet</display-name>
		<servlet-name>ViewProductServlet</servlet-name>
		<servlet-class>com.abc.controller.ViewProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SessionServlet</display-name>
		<servlet-name>SessionServlet</servlet-name>
		<servlet-class>com.abc.controller.SessionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProductServlet</display-name>
		<servlet-name>UpdateProductServlet</servlet-name>
		<servlet-class>com.abc.controller.UpdateProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateUserServlet</display-name>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>com.abc.controller.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProductServlet</servlet-name>
		<url-pattern>/CreateProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminProductServlet</servlet-name>
		<url-pattern>/AdminProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewProductServlet</servlet-name>
		<url-pattern>/ViewProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionServlet</servlet-name>
		<url-pattern>/SessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProductServlet</servlet-name>
		<url-pattern>/UpdateProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/CreateUserServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>WelcomeServlet</welcome-file>
	</welcome-file-list>
	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
         E:\AndroidWorkspace\OnlineStore\WebContent\images\products
     </param-value>
	</context-param>
	<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
